<html>
	<head>
		<title>Automatic Documentation Generate by DocGem</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
		<script type="text/javascript" src="data.js"></script>
		<script type="text/javascript" src="docgem.js"></script>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div>
			<ul id="index"></ul>
		</div>
		<div id="charpters" ></div>
		<script type="text/template" id="charpterTemplate">
			<div class="charpter" data-id="${id}" >
				<h3>${id}</h3>
				<p class="text">${text}</p>
				<h4>Sessões</h4>
				<div class="sections">
				</div>
			</div>			
		</script>
		<script type="text/template" id="sectionTemplate">
			<div class="section"  data-id="${id}">
				<div class="text">${text}</div>
				<div>
				  <input type="button" value="<< voltar" /><input type="button" value="avancar >>" />
				</div>
				<div>
					<ul class="actions"></ul>
				</div>				
			</div>				
		</script>
		<script type="text/template" id="actionTemplate">
		  <li>
		    <span>${text}</span><br />
		    <image src="${imageFile}" border=1 />
		  </li>
		</script>
	</body>
</html>