doctype html
html(lang='pt-BR', ng-app='docgem')
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="HandheldFriendly", content="true")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")

    //- Estilos
    link(rel="icon", type="image/png", href="./bootstrap/images/help_256.png")
    link(href="./stylesheets/style.css", rel="stylesheet")
    link(href="./stylesheets/main.css", rel="stylesheet")
    link(href="./stylesheets/bootstrap.min.css", rel="stylesheet")
    link(href="./stylesheets/angular-resizable.min.css", rel="stylesheet")
    
    title Manual Bentham

    script(src="angularjs/angular.js" )
    script(src="angularjs/angular-route.js" )
    script(src="angularjs/angular-resource.js")
    script(src="angularjs/angular-resizable.min.js")
    script(src="angularjs/angular-sanitize.js")
    script(src="ng-inspector.js")
    script(src="docgem.js")
    script(src="jquery.js")
    script(src='handlebars.runtime-v4.0.5.js')
    script(src="bootstrap.min.js")
    script(src="bootstrap3-typeahead.min.js")
    script(src="bloodhound.js")
    script(src="underscore-min.js")
    
  body(ng-controller="DocgemCtrl")

    div.book.without-animation.with-summary.font-size-2.font-family-1(data-level="0", data-basepath=".", data-revision="{{revisao}}")
      .book-summary.container(ng-show='showSummary', resizable, r-directions="['right']", r-width='500')
          img.bentham-logo(src="http://quantaconsultoria.com:8080/pisf/images/bentham-logo.png")
          h2.text-center.main-title Manual
            
          ul.summary
            li.chapter(ng-repeat="chapter in chapters")
              a(href="#", ng-click='selectItem(chapter)', ng-class='currentItem.id == chapter.id ? "text-success" : ""')
                | {{chapter.title}}
              
              ul
                li(ng-repeat="section in chapter.sections", ng-include="'sections.html'")
            
            span(ng-init='applyTreeviewStyle()')  
              
      .book-body(ng-class='showSummary ? "withSummary" : "withoutSummary"')
        .body-inner
          .book-header
            
            .row
            
              //-- Actions Left --
              .col-md-1.col-xs-2
                a.btn.pull-left.toggle-summary.summary-bar(href="#", aria-label="Tabela de conteúdos", ng-click='toggleSummary()', style='margin-top:8px')
                  i.fa.fa-align-justify
              
              .col-md-9.col-xs-8.text-center(ng-show='!showSearch')
                //-- Search --
                h1.text-center.header(style='margin-top:8px')
                  i.fa.fa-circle-o-notch.fa-spin
                  | {{currentItem.title}}
              
              //-- Actions Right --
              //-- Title --
              .col-md-2.col-xs-2(ng-show='!showSearch')
                a.pull-right.btn.btn-default.toggle-summary.search-button(href="#", aria-label="Pesquisar", ng-click='toggleSearch()',style='margin-top:8px')
                  i.fa.fa-search
                      
              .col-md-11.col-xs-10(ng-show='showSearch')
                .input-group.pull-right(style='margin-top:8px')
                  input.form-control.autocomplete(type='text', placeholder='Pesquise')
                  .input-group-btn
                    a.btn.btn-default.toggle-summary(href="#", aria-label="Pesquisar", ng-click='toggleSearch()')
                      i.fa.fa-search

          .page-wrapper(tabindex="-1")
            .page-inner
              section.normal#section-

                ng-include(src='itemUrl()')

                .actions(ng-show="action")
                  .actions-bar
                    input.btn.back-action(type="button", value!="&larr; Voltar", ng-disabled="!hasPreviousAction()", ng-click="previousAction()")
                    input.btn.next-action(type="button", value!="Avancar &rarr;", ng-disabled="!hasNextAction()", ng-click="nextAction()")

                  .action-conteiner
                    img(src="{{action.imageFile}}", border="1")

    script(type="text/ng-template"  id="sections.html")
      a(href='#', ng-click='selectItem(section)', ng-class='currentItem === section ? "text-success" : ""') 
        | {{section.title}}
      ul(ng-if='section.sections.length > 0')
        li(ng-repeat="section in section.sections" ng-include="'sections.html'")
    
    script(src="treeview.js")
    
    //--script(src="./app.js")    
    //--script.
    //--  require(["gitbook"], function(gitbook) {
    //--      var config = {"fontSettings":{"theme":null,"family":"sans","size":2}};
    //--      gitbook.start(config);
    //--  });
