.active {
	display: block;
}

.disabled {
	display: none;
}

.container {
	padding: 0px;
	width: 1300px;
}

.chapter-title {
	padding-left: 15px;
	border-bottom: 2px solid rgba(0,0,0,0.08);
}
.section-title {
	padding-top: 10px;
	padding-left: 15px;
	border-bottom: 2px solid rgba(0,0,0,0.08);
}

#content {
	width: 100%;
}

#menu-lateral {
	padding: 0;
}

#container div.accordion-group {
	border: 0px;
	padding: 0;
}

.accordion-body .accordion-inner .accordion-heading .accordion-toggle {
	padding: 0px;
}

#container {
	border-right: 1px solid #ccc;
	margin-right: -1px;
	min-height: 400px;
	padding: 4px;
	width: 1300px;
}

#container nav {
	border: 1px solid #ddd;
	box-shadow: 0 3px 2px #ccc;
	margin: 13px 10px 10px;
}

#container div.accordion, div.accordion-heading, div.accordion-toggle{
	font-family: 'OpenSans', 'Helvetica Neue', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.accordion-heading .accordion-toggle {
  display: block;
  padding: 2px 8px;
  cursor: pointer;
}

.accordion-inner {
  padding: 2px 4px;
  border-top: 1px solid #e5e5e5;
}

#container nav > div > div  {
	background: #fefefe;
	background: -moz-linear-gradient(top, #fefefe 0%, #eef0f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #eef0f1));
	background: -webkit-linear-gradient(top, #fefefe 0%, #eef0f1 100%);
	background: -o-linear-gradient(top, #fefefe 0%, #eef0f1 100%);
	background: -ms-linear-gradient(top, #fefefe 0%, #eef0f1 100%);
	background: linear-gradient(top, #fefefe 0%, #eef0f1 100%);
	border-bottom: 1px solid rgba(204, 204, 204, 0.75);
	color: #666666;
	display: block;
	font-size: 13px;
	font-weight: bold;
	list-style: none;
	padding: 7px 10px;
	text-shadow: 0 1px 0 #ffffff;
	text-decoration: none;
}

#container nav > div > div > div > div a {
	color: #666666;
	display: block;
	font-size: 12px;
	padding: 2px 8px;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
}

#chapters {
  width: 1010px;
  float: left;
  padding-left: 10px;
}
