body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	padding-top: 20px;
	padding-bottom: 60px;
}

div {
	display: block;	
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

.actions{
	max-width: 100%;
}

.container {
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
}

.page-header {
	padding-bottom: 9px;
	margin: 20px 0 30px;
	border-bottom: 1px solid #eeeeee;
}