.actions
  width 100%
  padding-top 15px

  .actions-bar
    width 100%
    padding-bottom 40px

    input[type="button"]
      font-size 15px
      background-color #428bca
      border-color #357ebd
      -webkit-appearance button
      color #fff
      align-items flex-start
      text-align center
      cursor default
      color buttontext
      padding 2px 6px 3px
      //border 2px outset buttonface
      border-image-source initial
      border-image-slice initial
      border-image-width initial
      border-image-outset initial
      border-image-repeat initial
      //background-color buttonface
      box-sizing border-box
      -webkit-appearance push-button
      -webkit-user-select none
      white-space pre

    input
      font-family inherit
      margin 0
      box-sizing border-box
      color graytext
      padding 1px 6px

    .btn
      display inline-block
      padding 6px 12px
      margin-bottom 0
      font-weight bold
      line-height 1.428571429
      text-align center
      white-space nowrap
      vertical-align middle
      border 1px solid transparent
      border-radius 4px
      -webkit-user-select none

    .btn[disabled]
      pointer-events none
      cursor default
      opacity .65
      -webkit-box-shadow none
      box-shadow none

    .back-action
      float left

    .next-action
      float right

  .action-conteiner
    width 100%

    label
      width 100%

    img
      width 100%
      padding-top 15px