.actions
  width 100%

  .actions-bar
    width 100%

    .back-action
      float left

    .next-action
      float right

  .action-conteiner
    width 100%

    label
      width 100%

    img
      width 100%